
.dashBoard{
    display: flex;
}

.tableConent{
    position: relative;
    width: 40vw;
    margin: 25px auto 0;
    margin-right: 10px;
    height: 40vh;
    border-radius: 25px;
    background-image: url('../assets/bg-3.jpg');
    background-size: cover;
    overflow: hidden; 
}

.tableConent h2{
    color: white;
    padding-left: 40px;
    padding-top: 15px;
}

.table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.uploadContent{
    margin: 25px auto 0;
    margin-left: 10px;
}

.newUpload{
    position: relative;
    width: 20vw;
    margin-bottom: 20px;
    height: 18.5vh;
    border-radius: 25px;
    background-image: url('../assets/bg-3.jpg');
    background-size: cover;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {
    .tableConent {
      width: 60vw;
      height: 30vh;
    }
  
    .tableConent h2 {
      padding-left: 30px;
      padding-top: 10px;
    }
  
    .newUpload {
      width: 40vw;
      height: 15vh;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .tableConent {
      width: 80vw;
      height: 20vh;
    }
  
    .tableConent h2 {
      padding-left: 20px;
      padding-top: 8px;
    }
  
    .newUpload {
      width: 60vw;
      height: 12vh;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .tableConent {
      width: 90vw;
      height: 15vh;
    }
  
    .tableConent h2 {
      padding-left: 10px;
      padding-top: 6px;
    }
  
    .newUpload {
      width: 80vw;
      height: 10vh;
    }
  }
  