
.Upload{
    min-width: 30vw;
}

.p-button{
  padding: 1vmin 1vmax;
  border-radius: 25px;
}

@media only screen and (max-width: 1200px) {
    .Upload {
      min-width: 35vw;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .Upload {
      max-width: 60vw;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .Upload {
      max-width: 80vw;
    }
  }
  