
.p-dropdown-label{
    margin-top: 10px;
    margin-left: 30px;
}
.p-fileupload-buttonbar{
    padding: 10px;
    background: rgba(255, 255, 255, 0.691);
}

.p-fileupload-content{
    padding: 10px;
    background: rgba(255, 255, 255, 0.504);
}

.p-dropdown-items li{
    margin: 10px;
}