.p-dropdown{
  height: 5vmin;
}


.p-dropdown-label{
    margin-top: 8px;
    margin-left: 30px;
}
.p-fileupload-buttonbar{
    padding: 10px;
    background: rgba(255, 255, 255, 0.691);
}

.p-fileupload-content{
    padding: 10px;
    background: rgba(255, 255, 255, 0.504);
}

.p-dropdown-items li{
    margin: 10px;
}

@media only screen and (max-width: 1200px) {
  .p-dropdown{
    height: 6vmin;
    width: 30vmax !important;
  }
    .p-dropdown-label {
      margin-top: 8px;
      margin-left: 25px;
    }
  
    .p-fileupload-buttonbar {
      padding: 8px;
    }
  
    .p-fileupload-content {
      padding: 8px;
    }
  
    .p-dropdown-items li {
      margin: 8px;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .p-dropdown{
      height: 6vmin;
      width: 40vmax !important;
    }

    .p-dropdown-label {
      margin-top: 6px;
      margin-left: 20px;
    }
  
    .p-fileupload-buttonbar {
      padding: 6px;
    }
  
    .p-fileupload-content {
      padding: 6px;
    }
  
    .p-dropdown-items li {
      margin: 6px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .p-dropdown-label {
      margin-top: 4px;
      margin-left: 15px;
    }
  
    .p-fileupload-buttonbar {
      padding: 4px;
    }
  
    .p-fileupload-content {
      padding: 4px;
    }
  
    .p-dropdown-items li {
      margin: 4px;
    }
  
    
    .p-dropdown .p-dropdown-label {
      font-size: 16px; 
    }
  
    .p-dropdown {
     height: 7vmin !important;

    }
  }
  