nav {
    width: 100%;
    max-width: 70rem;
    margin: 2px auto 0;
    min-height: 14vh;
    background: linear-gradient(#202C45, #742EC3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.color {
    width: 100%;
    max-width: 70rem;
    margin: 10px auto 0%;
    background: #742EC3;
    height: 7vh;
}

.logo img {
    height: 65px;
    margin-left: 20px;
}

.login button {
    background: #9500ff;
    color: #FFFFFF;
    margin-right: 20px;
    padding: 10px 40px;
    border-radius: 7.5px;
    border: 0;
    outline: 0;
    cursor: pointer;
}