

.login-page {
    position: relative;
    width: 40vw;
    margin: 25px auto;
    height: 40vh;
    border-radius: 25px;
    background-image: url('../assets/bg-3.jpg');
    background-size: cover;
    overflow: hidden; 
}


.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form h2{
    text-align: center;
    color: bisque;
}

p-button-success{
    margin-right: 0px;
}
  
