.p-inputtext{
    border-radius: 25px;
    width: 20vw;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    box-sizing: border-box;
  }

  @media only screen and (max-width: 1200px) {
    .p-inputtext {
      width: 20vw;
      padding: 8px;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .p-inputtext {
      width: 20vw;
      padding: 6px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .p-inputtext {
      width: 20vw;
      padding: 4px;
    }
  }
  