.Register{
    border-radius: 25px;
    width: 20vw;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    box-sizing: border-box;
  }

  @media only screen and (max-width: 1200px) {
    .Register {
      width: 30vmax;
      padding: 1.5vmin;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .Register {
      width: 40vmax;
      padding: 1.5vmin;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .Register {
      width: 42vmax;
      padding: 2vmin;
    }
  }
  