.box {
    width: 100%;
    max-width: 535px;
    background-image: url(../assets/bg-image.jpg);
    height: 350px;
    margin: 35px auto 20px;
    position: relative;
    border-radius: 25px;
}

.top {
    background: white;
    height: 380px;
    width: 100%;
    max-width: 735px;
    opacity: 0.39;
    position: absolute;
    top: 0;
    left: 0;
}


.black-top {
    background: black;
    width: 100%;
    max-width: 735px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.form {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.semester,
.supply,
.reg-no {
    margin: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form select,
input {
    padding: 10px;
    border-radius: 20px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.572);
}

.semester label,
.supply label,
.reg-no label {
    margin-right: 15px;
    padding-right: 10px;
    display: inline-block;
    width: 200px; 
    text-align: right;
    margin-right: 15px;
}

.get-results-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.get-results-btn button {
    padding: 10px 50px;
    border-radius: 25px;
    background: #592082;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.results {
    text-align: center;
    width: 100%;
    max-width: 70rem;
    margin: 30px auto 0;
    background: linear-gradient(#202C45, #742EC3);
    color: white;
}