*{
    margin: 0;
    padding: 0;
}

.upload-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding: 20px;
    text-align: center;
    border: 2px dashed #aaa;
    border-radius: 10px;
    background-color: white;
}

.upload-box i {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.file-upload-button {
    padding: 10px 20px;
    border: 1px solid #0F91D2;
    border-radius: 5px;
    background-color: white;
    color: #0F91D2;
    cursor: pointer;
}

.cloud{
    padding-right: 30px;
}

.select-file{
    text-align: left;
    padding-right: 30px;
}

.select-file p:first-child{
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.select-file p{
    color: gray;
    font-size: 16px;
}